// Colors
$off-black: #484848;
$dark-blue: #000080;
$blue: #4169E1;
$light-blue: #416;
$off-white: #a5afd7;
$purple: #8357c5;
// Spacing
$s-size: 1.3rem;
$m-size: 1.9rem;
$l-size: 3.2rem;
$xl-size: 5.8rem;
$desktop-breakpoint: 48rem;